// Bootstrap
$icon-font-path: '/assets/bootstrap/';
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

// Font-Awesome
$fa-font-path: '/assets/fontawesome';
@import "bower_components/fontawesome/scss/font-awesome";

// Font Custom
$fc-font-path: '/assets/fontcustom/';
@import "vendor/fontcustom/css/ember-fontcustom";

// Partials
@import "trackers";
@import "dashboard";

// Custom CSS
.navbar-logo {
  padding: 10px;
}

.icon-steps-large {
  font-size: 2.5em;
}

.icon-stairs-large {
  font-size: 3em;
}
